/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

body {
    background-color: #ddd;
    font-family: Calibri, sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Styling the topnav bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

    /* Styling the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.2s;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

footer {
    background-color: #f1f1f1;
    padding: 10px;
}

/*Styling the buttons*/
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    border: none;
    transition: 0.2s;
}

     button.accordion:hover {
        background-color: #cccccc;
    }
    button.accordion.active{
        background-color: #888;
    }
    button.accordion:after {
        content: '\25bc'; 
        color: #777;
        float: right;      
    }

    button.accordion.active:after {
        content: "\25b2"; 
        color: #fff;
    }

/* Styling the accordion panel. */
.panel {
    padding: 10px 18px;
    background-color: white;
    display: none;
}

  
