#Folders to ignore for now
GitHub
/HTML5(old)/Treasure-Hunt-Rework
/HTML5(old)/my-portfolio
/HTML5(old)/CV-template
/HTML5(old)/Tresure-Hunt02
/HTML5(old)/Treasure-Hunt03
/HTML5(old)/My-Website
/HTML5(old)/My-CV
/HTML5(old)/Images
/HTML5(old)/code-testing
/HTML5(old)/Solution1

*.log
*.sln
*.zip
*.vs
*.json
node_modules
.eslintrc.js