<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Name</title>
</head>
<body>
    <h1>Add Name</h1>
    <form method="post">
        <p>
            First Name:
            <input type="text" name="first_name">
        </p>
        <p>
            Last Name:
            <input type="text" name="last_name">
        </p>
        <button type="submit">Submit</button>
        
    </form>
   
</body>
</html>